body {
  margin: 0.0em;
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #E5E5E5;
}

h1 {
  color: #636363;
}

p {
  color: black;
}

a {
  color: black;
}

.navbar {
  background: #ffbd59;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 60px;   
  box-shadow: 0 -1px 10px 0 black;
  position: sticky;
  top:0;
}
  
#head_title {
  font-family: 'Roboto';
  float: left;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 20px;
}
